body {
  padding: 0;
  text-align: center;
}

#pingo {
  font-size: xx-large;
  color: black;
  font-family: Verdana;
}

#gif {
  width: 5;
}

#sub {
  font-size: large;
  color: gray;
}
.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

body button {
  font-size: 42px;
  background-color: grey;
  color: rgb(0, 0, 0);
  padding: 20px 40px;
  border: 0;
  box-shadow: 1;
  border-radius: 200px;
  margin-bottom: 5px;
}
button::active {
  box-shadow: none;
}

#game-board {
  float: center;
  padding: 20px 20px;
}
